[submodule "lerobot"]
	path = lerobot
	url = https://github.com/Factory-Intelligence-Corp/lerobot.git
	branch = lam-integration
[submodule "villa-x"]
	path = villa-x
	url = https://github.com/microsoft/villa-x.git
